<%= form_for @room do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="field">
      <%= f.label :name, "ルーム名" %>
      <%= f.text_field :name, :size=>"100",cols: "30", rows: "10",placeholder: "ルーム名を入力してください。" %>
    </div>
    <div class="field">
      <%= f.label :description, "内容" %>
      <%= f.text_area :description, :size=>"100",cols: "30", rows: "10",placeholder: "内容" %>
    </div>
    <!-- さっき送って頂いた、メンバーとチームの話ですが、ここのplaylist_idがteam_idです！　-->
    <div class="field">
      <%= f.collection_select  :playlist_id, Playlist.all , :id, :name ,prompt: true%>
    </div>
    <div class="button_wrap">
      <input type="submit" value="保存する" class="button">
    </div>
<% end %>