<div class="main">
  <%= form_for @room do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <div class="field">
        <%= f.label :name, "ルーム名" %>
        <%= f.text_field :name, :size=>"100",cols: "30", rows: "10",placeholder: "ルーム名を入力してください。" %>
      </div>
      <div class="field">
        <%= f.label :description, "内容" %>
        <%= f.text_area :description, :size=>"100",cols: "30", rows: "10",placeholder: "内容" %>
      </div>
      <div class="field">
        <%= link_to "プレイリストを作成しますか？",new_playlist_path %>
        <%= f.collection_select  :playlist_id, @pulldown_playlists, :id, :name ,{prompt: 'プレイリストを選択してください'}%>
        <%# if @pulldown_playlists.empty? %>
        <%# else %>
        <%# end%>
      </div>
      <div class="button_wrap">
        <input type="submit" value="保存する" class="button">
      </div>
  <% end %>
</div>