 <!-- 1. The <iframe> (and video player) will replace this <div> tag. -->
 <div class="room-block2 clearfix">
   <div id="player"></div>
    
    <div id="chat" class="clearfix">
      <div class="loges">
        <div class="log"id="log1">
          <div class="user-image">
           
          </div>
          <div class="user-name clearfix">
            USER1
            <div class="text">
             <p>texttexttexttexttexttexttexttexttexttexttexttexttexttexttexttext</p>
            </div>
          </div>
          
        </div>
        <div class="log"id="log1">
          <div class="user-image">
           
          </div>
          <div class="user-name clearfix">
            USER1
            <div class="text">
             <p>texttexttexttexttexttexttexttexttexttexttexttexttexttexttexttext</p>
            </div>
          </div>
          
        </div>
        <div class="log"id="log1">
          <div class="user-image">
           
          </div>
          <div class="user-name clearfix">
            USER1
            <div class="text">
             <p>texttexttexttexttexttexttexttexttexttexttexttexttexttexttexttext</p>
            </div>
          </div>
          
        </div>
        <div class="log"id="log1">
          <div class="user-image">
           
          </div>
          <div class="user-name clearfix">
            USER1
            <div class="text">
             <p>texttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttext</p>
            </div>
          </div>
          
        </div>
        <div class="log"id="log1">
          <div class="user-image">
           
          </div>
          <div class="user-name clearfix">
            USER1
            <div class="text">
             <p>texttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttext</p>
            </div>
          </div>
          
        </div>
        <div class="log"id="log1">
          <div class="user-image">
           
          </div>
          <div class="user-name clearfix">
            USER1
            <div class="text">
             <p>texttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttext</p>
            </div>
          </div>
          
        </div>
        <div class="log"id="log1">
          <div class="user-image">
           
          </div>
          <div class="user-name clearfix">
            USER1
            <div class="text">
             <p>texttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttext</p>
            </div>
          </div>
          
        </div>
        <div class="log"id="log1">
          <div class="user-image">
           
          </div>
          <div class="user-name clearfix">
            USER1
            <div class="text">
             <p>texttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttext</p>
            </div>
          </div>
          
        </div>
        <div class="log"id="log1">
          <div class="user-image">
           
          </div>
          <div class="user-name clearfix">
            USER1
            <div class="text">
             <p>texttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttext</p>
            </div>
          </div>
          
        </div>
        <div class="log"id="log1">
          <div class="user-image">
           
          </div>
          <div class="user-name clearfix">
            USER1
            <div class="text">
             <p>texttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttext</p>
            </div>
          </div>
          
        </div>
        <div class="log"id="log1">
          <div class="user-image">
           
          </div>
          <div class="user-name clearfix">
            USER1
            <div class="text">
             <p>texttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttext</p>
            </div>
          </div>
          
        </div>
        <div class="log"id="log1">
          <div class="user-image">
           
          </div>
          <div class="user-name clearfix">
            USER1
            <div class="text">
             <p>texttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttext</p>
            </div>
          </div>
          
        </div>
        <div class="log"id="log1">
          <div class="user-image">
           
          </div>
          <div class="user-name clearfix">
            USER1
            <div class="text">
             <p>texttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttext</p>
            </div>
          </div>
          
        </div>
        <div class="log"id="log1">
          <div class="user-image">
           
          </div>
          <div class="user-name clearfix">
            USER1
            <div class="text">
             <p>texttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttext</p>
            </div>
          </div>
          
        </div>
        <div class="log"id="log1">
          <div class="user-image">
           
          </div>
          <div class="user-name clearfix">
            USER1
            <div class="text">
             <p>texttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttext</p>
            </div>
          </div>
          
        </div>
      </div>
      <div class="comment">
         <input type="text" value="Enterで送信出来る様にする" data-behavior="room_speaker" />
        </form>
      </div>
    </div>
 </div>
    
<div class="clearfix cueplaylist">
  <div class="playlist-wrapper">
    <ul id="playlist" class="clearfix horizontal-list">
      <% @room.playlist.movie_urls.each do |movie_url| %>
       <!-- https://www.youtube.com/watch?v=GJI4Gv7NbmE&list=RDNum8ZWWmPhQ&index=6 v= & までがid-->
       <li class="item" data-movie_id="<%= movie_url.ytid %>"><div class="multiline-text"><%= movie_url.title %></div><img src ="https://i.ytimg.com/vi/<%= movie_url.ytid %>/default.jpg" ></li>
      <% end %>
      <!--1. floatされている要素は親要素の高さの自動計算に含まれない。-->
      <!--最もシンプルな方法は最後に clear:bothされている要素を付け加えること。-->
      <!--<div style="clear: both"></div>-->
      <!--2. 不要な要素は付け加えたくないので、代わりにclearfixクラスを設定する。-->
      <!--:afterは指定したセレクターに末っ子の要素を付け加える。-->
      <!--.clearfix:after {-->
      <!--  content: "";-->
      <!--  display: block;-->
      <!--  clear: both;-->
      <!--}-->
    </ul>

  </div>
  <div class="Addform">
    <%= form_for @playlist.movie_urls.new do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <div class="form-group">
    		
        <div class="field　">
          <span class="add-url"><%= f.label :url, "追加したいURL" %></span>
          <%= f.text_field :url, size: "100",cols: "30", rows: "10",placeholder: "URL",class: "form-control add-url-form" %>
        </div>
        <div class="field">
          <%= f.submit "追加",class:"btn btn-default" %>
        </div>
      </div>
    <% end %>
  </div>
</div>



    
<script>
</script>
   


